<html>

    <script>

        let base64String = "";
           
        function imageUploaded() {
            var file = document.querySelector(
                'input[type=file]')['files'][0];
          
            var reader = new FileReader();
            console.log("next");
              
            reader.onload = function () {
                base64String = reader.result.replace("data:", "")
                    .replace(/^.+,/, "");
          
                imageBase64Stringsep = base64String;
          
                // alert(imageBase64Stringsep);
                console.log(base64String);
            }
            reader.readAsDataURL(file);
        }
        
        function text(){
            console.log("fuck")
        }
        function invokeUpload() {
            var txt = document.getElementById('text').value;
            
            var xhr = new XMLHttpRequest();
            xhr.open("POST", 'http://localhost:5000/x', true);

            //Send the proper header information along with the request
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function() { // Call a function when the state changes.
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    // Request finished. Do processing here.
                }
            }

            var req = "text=" + txt + "&image=" + base64String;
            console.log(req);
            xhr.send(req);
            //'text'+txt+'&image='+base64String
        }
    </script>

    <input type="file" name="shite" id="fileId" 
        onchange="imageUploaded()"><br>
    <input type="text" id="text">
    <br><br>

    <button onclick="invokeUpload()">
        Upload
    </button>



</html>